<a href="https://colab.research.google.com/github/brunorodriguescabral/Aula-python-pandas/blob/main/Aula_python_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [6]:
import pandas as pd

combustiveis_df = pd.read_excel("ca-2021-02.xlsx")

In [ ]:
display(combustiveis_df)

In [ ]:
display(combustiveis_df.head(5))

In [ ]:
display(combustiveis_df.describe())

In [ ]:
display(combustiveis_df["Municipio"].head(6))

In [ ]:
display(combustiveis_df.shape)

In [77]:
ca_df = combustiveis_df[["Revenda","Municipio", "Produto", "Valor de Venda"]]
display(ca_df.head(7))

,Revenda,Municipio,Produto,Valor de Venda
0,POSTO ARAPIRACA LTDA,ARAPIRACA,GASOLINA,6.799
1,POSTO ARAPIRACA LTDA,ARAPIRACA,ETANOL,5.299
2,POSTO ARAPIRACA LTDA,ARAPIRACA,DIESEL,5.549
3,POSTO ARAPIRACA LTDA,ARAPIRACA,GASOLINA ADITIVADA,6.899
4,POSTO ARAPIRACA LTDA,ARAPIRACA,DIESEL S10,5.649
5,AUTO POSTO FREITAS & MAIA LTDA,DELMIRO GOUVEIA,GASOLINA,7.198
6,AUTO POSTO FREITAS & MAIA LTDA,DELMIRO GOUVEIA,ETANOL,5.982

In [76]:
display(ca_df.loc[158:162])

                       Revenda Municipio             Produto  Valor de Venda
158  FERREIRA COMBUSTIVES LTDA  SALVADOR            GASOLINA            6.69
159  FERREIRA COMBUSTIVES LTDA  SALVADOR              ETANOL            5.49
160  FERREIRA COMBUSTIVES LTDA  SALVADOR  GASOLINA ADITIVADA            6.99
161  FERREIRA COMBUSTIVES LTDA  SALVADOR          DIESEL S10            5.49
162  FERREIRA COMBUSTIVES LTDA  SALVADOR                 GNV            3.79

In [75]:
gas = ca_df.loc[ca_df["Produto"] == "GASOLINA"]
display(gas)

,Revenda,Municipio,Produto,Valor de Venda
0,POSTO ARAPIRACA LTDA,ARAPIRACA,GASOLINA,6.799
5,AUTO POSTO FREITAS & MAIA LTDA,DELMIRO GOUVEIA,GASOLINA,7.198
10,AUTO POSTO DA PEDRA LTDA,DELMIRO GOUVEIA,GASOLINA,7.197
14,COMERCIO DE COMBUSTIVEIS NENZITA LTDA,DELMIRO GOUVEIA,GASOLINA,7.175
19,MARCOS ANTONIO DA SILVA CABRAL,ITACOATIARA,GASOLINA,6.990
...,...,...,...,...
168392,AUTO POSTO KM BAURU LTDA,BAURU,GASOLINA,6.199
168394,COOPERCITRUS COOPERATIVA DE PRODUTORES RURAIS,ITUIUTABA,GASOLINA,6.899
168399,VICMAR COMERCIO DE COMBUSTIVEIS E LUBRIFICANTE...,CAMPOS DOS GOYTACAZES,GASOLINA,7.090
168403,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,JEQUIE,GASOLINA,6.799
168405,ABC DISTRIBUICAO DE PETROLEO LTDA,ITUIUTABA,GASOLINA,6.580

In [74]:
value = ca_df.loc[ca_df["Valor de Venda"] <= 6].loc[ca_df["Produto"] == "GASOLINA"]
display(value)

,Revenda,Municipio,Produto,Valor de Venda
1217,AUTO POSTO G.E.M.LTDA,ATIBAIA,GASOLINA,5.297
1474,AUTO POSTO NOVA POA II LTDA,POA,GASOLINA,5.899
1590,AUTO POSTO BARCELONA LTDA,SAO CAETANO DO SUL,GASOLINA,5.999
1689,AUTOMOTO - AUTOMOVEIS DO AMAPA LTDA,MACAPA,GASOLINA,5.690
2559,POSTO UNIVERSITARIO SOTTA LTDA,ARARAS,GASOLINA,5.899
...,...,...,...,...
168319,POSTO NOSSA SENHORA DE FATIMA BAURU LTDA,BAURU,GASOLINA,5.989
168322,POSTO ICCAR LTDA,BAURU,GASOLINA,5.779
168325,AUTO POSTO JARDIM ITALIA LTDA,ITAPETININGA,GASOLINA,5.999
168352,CENTRO AUTOMOTIVO PRIME DE BAURU LTDA,BAURU,GASOLINA,5.949
168384,AUTO POSTO RAIDEN LTDA.,BAURU,GASOLINA,5.879

In [73]:
display(ca_df["Valor de Venda"].max())

8.99

In [72]:
#Preço do etanol mais barato em indaiatuba

etanol_indaiatuba_df = ca_df.loc[(ca_df['Produto'] == 'ETANOL') & (ca_df['Municipio'] == 'INDAIATUBA')]
etanol_indaiatuba_df.sort_values(by='Valor de Venda', inplace=True)
display(etanol_indaiatuba_df)

/usr/local/lib/python3.8/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

,Revenda,Municipio,Produto,Valor de Venda
160592,AUTO POSTO NAMORADA II LTDA.,INDAIATUBA,ETANOL,4.679
140194,CENTRO AUTOMOTIVO RIVIERA TROPICAL LTDA,INDAIATUBA,ETANOL,4.679
140661,M.LI COMERCIO DE COMBUSTIVEIS LTDA.,INDAIATUBA,ETANOL,4.699
159497,M.LI COMERCIO DE COMBUSTIVEIS LTDA.,INDAIATUBA,ETANOL,4.699
141167,AUTO POSTO ESPLANADA DE INDAIA LTDA,INDAIATUBA,ETANOL,4.699
...,...,...,...,...
51129,AUTO POSTO CIDADE DO SOL II LTDA,INDAIATUBA,ETANOL,5.599
51138,AUTO POSTO NAMORADA II LTDA.,INDAIATUBA,ETANOL,5.599
84395,AUTO POSTO NAMORADA II LTDA.,INDAIATUBA,ETANOL,5.599
65878,AUTO POSTO CIDADE DO SOL II LTDA,INDAIATUBA,ETANOL,5.599
65363,AUTO POSTO INDIANA SELF LTDA.,INDAIATUBA,ETANOL,6.197

In [70]:
#Etanol mais barato de uma cidade usando input

cidade = input("Digite a cidade: ").upper()
etanolprice = ca_df.loc[(ca_df["Produto"] == "ETANOL") & (ca_df["Municipio"] == cidade)]
etanolprice.sort_values(by="Valor de Venda", inplace=True)
display(etanolprice)

Digite a cidade: santos

/usr/local/lib/python3.8/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

,Revenda,Municipio,Produto,Valor de Venda
151750,AUTO POSTO E CENTRO DE CONVENIENCIA GLICERIO S...,SANTOS,ETANOL,4.798
151743,AUTO POSTO ESPUMAS LTDA,SANTOS,ETANOL,4.799
139148,COMERCIO DE COMBUSTIVEIS GENESIS LTDA.,SANTOS,ETANOL,4.799
139178,AUTO POSTO E CENTRO DE CONVENIENCIA GLICERIO S...,SANTOS,ETANOL,4.799
155749,AUTO POSTO REVERTON LTDA,SANTOS,ETANOL,4.799
...,...,...,...,...
49216,CLEAN CAR SUPER LAVAGEM AUTOMÁTICA E COMERCIO ...,SANTOS,ETANOL,5.999
69134,CLEAN CAR SUPER LAVAGEM AUTOMÁTICA E COMERCIO ...,SANTOS,ETANOL,5.999
20290,AUTO SERVICOS INDAIA LTDA.,SANTOS,ETANOL,6.047
58114,AUTO SERVICOS INDAIA LTDA.,SANTOS,ETANOL,6.047
49206,POSTO GAIVOTA LTDA,SANTOS,ETANOL,6.098

In [71]:
# Qual a média de preço de gasolina e aditivada do bairro mooca

display(combustiveis_df.loc[(combustiveis_df["Bairro"] == "MOOCA") & 
                            (combustiveis_df["Municipio"] == "SAO PAULO") & 
                            (combustiveis_df["Produto"].isin(["GASOLINA", "GASOLINA ADITIVADA"])), 
                            ['Valor de Venda']].mean())

Valor de Venda    6.575596
dtype: float64

In [65]:
# Como mostrar media com valor de venda POR COMBUSTIVEL Brasil todo

media = ca_df[["Produto", "Valor de Venda"]].groupby(by="Produto").mean().round(2)
display(media)

                    Valor de Venda
Produto
DIESEL                        5.38
DIESEL S10                    5.45
ETANOL                        5.46
GASOLINA                      6.71
GASOLINA ADITIVADA            6.86
GNV                           4.39

In [ ]:
#Quero adicionar uma coluna de valor booleano no combustiveis_df 
# chamada "Ativo"  que, por padrão, vai ser True para 
# TODAS as linhas

combustiveis_df["Ativo"] = True
print(combustiveis_df.info())
display(combustiveis_df.head())

In [78]:
# Exportar tabela para excel

etanol_indaiatuba_df.to_excel("Etanol_indaiatuba.xlsx", sheet_name="Tabela de Etanol")